html,body{
	height: 100%;
	overflow-x:hidden;
	color: #ffffff;
	font-size: 18px;
	font-family: 'Colfax_medium';
	background-color: #BDBEC0;
	-webkit-overflow-scrolling: touch;
}

a{
	color: #ffffff;
}

a:hover{
	background-color: #A0B350;
	color: #333333;
}

header{ 
	position: relative; 
	left: 0px;
	top: 0px;
	float: left;
	background-size: auto 10px;
	padding-right: 0px;
	z-index: 100;
	padding-left: 20px;
	width:100%;
} 

header.fixed{
	float: auto
	top: 0;
	background-color: #BDBEC0;
	width: 100%;
}

header.fixed_project{
	float: auto;
	position: fixed;
	z-index: 1000;
}

.footer_mobile{
	display: none;
}

.menu_links, .header_mobile{display: none;}


.loader{
	width: 100%;
	height: 100%;
	background-color: #BDBEC0;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 6000000;
	display: none;
}

.loader_image{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background-image: url('../img/loader.png');
	width: 60px;
	height: 83px;
	-webkit-animation: fade 3s infinite linear;
	-moz-animation: fade 3s infinite linear;
	-ms-animation: fade 3s infinite linear;
	animation: fade 3s infinite linear;
}

@-webkit-keyframes fade {
    0% {
        opacity:1;
    }
    50% {
        opacity:1;
    }
    75% {
        opacity:0; 
    }
    100% {
        opacity:1;
    }
}
@-moz-keyframes fade {
    0% {
        opacity:1;
    }
    50% {
        opacity:1;
    }
    75% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.fullscreen{
	cursor: pointer;
	font-size: 12px;
	position: absolute;
	right: 50px;
	top: 20px;
}

.column{
	display: inline-block;
	vertical-align: top;
}

.column_left{
	width: 240px;
}

.column_center{
	width: 3px;
	background: url('../img/dotted_v.png') repeat-y;
	background-position: center top;
	background-size: auto 10px;
}

header .column_center{
	height: 140px;	
	margin-top: 30px;
}

.column_right{
	margin-left: 15px;
}

.logo{
	height: 40px;
	letter-spacing: 1px;
	line-height: 40px;
}

.logo a{
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	text-decoration: none;
}

.content_dotted{
	 display: inline-block;
     vertical-align: middle;
     line-height: normal;
}

header nav a{
	color: #ffffff;
	font-weight: 100;
}

header .address{
	color: #ffffff;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.address span{
	display: block;
}

header .map{
	margin-top: -10px;
	background-image: url('../img/marker.png');
	background-repeat: no-repeat;
	background-position: center left;
}

header .map a{
	padding-left: 25px;
}

.column_left .dotted{
	background: url('../img/dotted.png') repeat-x left top,
				url('../img/dotted.png') repeat-x left bottom;
	background-size: 10px auto;
	height: 66px;
	margin: 0px 0px;
	line-height: 66px;
	margin-right: 15px;
}

.column_right .dotted{
	background: url('../img/dotted.png') repeat-x left top,
				url('../img/dotted.png') repeat-x left bottom;
	background-size: 10px auto;
	height: 66px;
	margin: 0px 0px;
	line-height: 66px;
	margin: 40px 15px 0px 0px;
	width: 465px;
}


.bold{
	font-family: 'Colfax_Bold';
	font-weight: 100;
}

.black{
	font-family: 'Colfax_Black';
}

.medium{
	font-family: 'Colfax_medium';
}

.uppercase{
	text-transform: uppercase;
}

.active_link{
	background-color: #A0B350;
	color: #333333;
}


footer{
	width: 100%;
	height: 150px;
	background-color: #3A3A3C;
	margin-top: -1px;
}

footer .footer_container{
	position: relative;
	left: 0px;
	top: 0px;
	float: left;
	background-size: auto 10px;
	padding-right: 0px;
	z-index: 100;
	padding-left: 20px
}

footer .column_center{
	height: 80px;	
	margin-top: 30px;
}

footer .column_left .dotted{
	background: url('../img/dotted.png') repeat-x left top;
	background-size: 10px auto;
}

footer .column_right .dotted{
	background: url('../img/dotted.png') repeat-x left top;
	background-size: 10px auto;
	width: 240px;
}

.grey_link{
	color: #333333;
}


/* FRONT PAGE*/


.slider_hover{
	background-image: url(../img/h.jpg);
	background-repeat: no-repeat;
	background-color: #BDBEC0;
	width: 1127px;
	height: 612px;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;

	/*
	-webkit-animation: h 14s steps(14) infinite;
	       -moz-animation: h 14s steps(14) infinite;
	        -ms-animation: h 14s steps(14) infinite;
	         -o-animation: h 14s steps(14) infinite;
	            animation: h 14s steps(14) infinite; */
}

.main_image{ 
	position: relative;
	/*background-image: url(../img/h.jpg); */
	background-repeat: no-repeat;
	background-color: #BDBEC0;
	background-position: top center;
	background-size: cover;
}

@-webkit-keyframes h {
   from { background-position:    0px 0px; }
     to { background-position: 0px -8568px; }
}

@-moz-keyframes h {
 from { background-position:    0px 0px; }
     to { background-position: 0px -8568px; }
}

@-ms-keyframes h {
   from { background-position:    0px 0px; }
     to { background-position: 0px -8568px; }
}

@keyframes h {
   from { background-position:    0px 0px; }
     to { background-position: 0px -8568px; }
}




.front{
	width: 100%;
	height: 100%;
	position: relative;
}

.front_sub{
	font-size: 0;
}

.front_header .dotted span{
	 display: inline-block;
     vertical-align: middle;
     line-height: normal;
     width: 500px;
}

.front_links{
	background-size: cover;
}

.front_link{
	position: absolute;
	z-index: 100;
	color: white;
	width: 100%;
	left: 20px;
	top: 20px;
	background-image: url('../img/dotted.png');
	background-repeat: repeat-x; 
	background-position: left top;
	background-size: 10px auto;
	padding-top: 10px;
	font-size: 18px;
}

.front_link_grey{
	background-image: url('../img/dotted_grey.png');
	background-repeat: repeat-x; 
	background-position: left top;
	background-size: 10px auto;
}

.green{
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #A0B350;
	display: none;
}

.work{
	height: 60%;
	width: 53%;
	display: inline-block;
	position: relative;
}

.services{
	height: 60%;
	width: 47%;
	display: inline-block;
	position: relative;
}

.about{
	height: 40%;
	width: 26%;
	display: inline-block;
	position: relative;
}

.shop{
	height: 40%;
	width: 74%;
	display: inline-block;
	position: relative;
}

.single_dotted{
	background: url('../img/dotted.png') repeat-x left center;
	background-size: 10px 3px;
	margin: 0px 0px;
	width: 100%;
	height: 100%;
}

/*.slider_hover{
	position: absolute;
	margin: auto;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 400px;
	height: 400px;
	z-index: 3000;
}
*/

.bg1{background-image: url('../img/slider/1.jpg');}
.bg2{background-image: url('../img/slider/2.jpg');}
.bg3{background-image: url('../img/slider/3.jpg');}
.bg4{background-image: url('../img/slider/4.jpg');}
.bg5{background-image: url('../img/slider/5.jpg');}
.bg6{background-image: url('../img/slider/6.jpg');}
.bg7{background-image: url('../img/slider/7.jpg');}
.bg8{background-image: url('../img/slider/8.jpg');}
.bg9{background-image: url('../img/slider/9.jpg');}
.bg10{background-image: url('../img/slider/10.jpg');}
.bg11{background-image: url('../img/slider/11.jpg');}
.bg12{background-image: url('../img/slider/12.jpg');}
.bg13{background-image: url('../img/slider/13.jpg');}
.bg14{background-image: url('../img/slider/14.jpg');}



/*  services_list  */

.services_list{
	margin-top:180px; 
	margin-bottom: 40px;
}

.services_list .column_left{
	height: 30px;
	margin-left: 20px;
	width: 225px;
}

.services_list .column_center{
	margin-left: 15px;
	height: 20px;
	margin-top: 5px;
}

.services_list .column_right{
	height: 30px;
	margin-left: 15px;
	line-height: 30px;
	white-space: nowrap;
}

.services_list .column_right .letter{
	display: inline-block;
	vertical-align: middle;
}

.services_list .column_right .single_dotted{
	display: inline-block;
	vertical-align: middle;
}

.service_text{
	margin-left: 285px;
	width: 500px;
}

.service_container{
	margin-bottom: 40px;
}

.letter_links a{
	margin-right: 2px;
}

.service_text{
	text-align: justify;
}

.service_text span:nth-child(1){
	text-transform: uppercase;
}

.services_list .image_letter{
	background-image: url(../img/letter_bg.png);
	background-position: center center;
	height: 500px;
	width: auto;
}

.infoBox{
	background-image: url(../img/projectmapback.png);
	width: 225px;
	height: 139px;
	overflow: hidden;
}

.infoBox p{
	font-family: 'Colfax_medium';
	font-size: 18px;
	margin:0;
	text-decoration: underline;
	padding: 5px;
}

#map > div > div:nth-child(1) > div:nth-child(3) > div:nth-child(4) > div:nth-child(1) > img{
	display: none;
}

.letters_mobile{
	display: none;
}


/* ABOUT */

.about_shop_content p{
	display: block;
	margin: 0px 0px 10px 0px;  
	width: 490px;
}

.about_shop_content, .about_team{
	margin-left: 290px;
	padding-right: 20px;
}

.about_team ul{
	margin: 0;
	padding: 0;
	list-style: none;
	padding-bottom: 50px;
}

.about_team ul li{
	margin-bottom: 10px;
}

.about_slides{
	font-size: 0;
}

.about_slide{
	display: inline-block;
}

.about_page.services_list{
	margin-top: 20px;
}

.about_slides_container{
	position:relative;
	margin-top:210px
}



/* PROJECTS */


.dotted_top{
	background: url('../img/dotted.png') repeat-x left top;
	background-size: 10px auto;
	height: 66px;
	line-height: 66px;
	margin: 40px 15px 0px 0px;
	width: 465px;
}

.dotted_project_container{
	position: absolute;
	left: 285px;
	top: 100px;
	width: 465px;
	height: 66px;
	font-size: 0;
}

.dotted_project_left,.dotted_project_right{
	background: url('../img/dotted.png') repeat-x left top;
	background-size: 10px auto;
	height: 66px;
	margin: 3px 0px 0px 0px;
	width: 220px;
	display: inline-block;
	white-space: nowrap;
	font-size: 18px;
	vertical-align: top;
	line-height: 66px;
}

.dotted_project_left a,.dotted_project_right a{
	font-size: 18px;
	display: block;
}


.dotted_project_center{
	width: 3px;
	margin:0px 11px;
	background: url('../img/dotted_v.png') repeat-y;
	background-position: center top;
	background-size: auto 10px;
	height: 73px;
	display: inline-block;
	white-space: nowrap;
	position: relative;
	top: -5px
}

.dotted_project_right_out{
	width: 3px;
	margin:0px 11px;
	background: url('../img/dotted_v.png') repeat-y;
	background-position: center top;
	background-size: auto 10px;
	position: absolute;
	left: 755px;
	top: 30px;
	width: 3px;
	height: 140px;
	font-size: 0;
}


#project_all, #project_services{
	margin-top: 24px;
	line-height: 1;
}

.project_services_overlay, .project_map{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 500;
	background-color: #3A3A3C;
	opacity: 0;
	display: none;
}

.project_map{
	display: block;
	z-index: 0;
}


#project_services_container{
	position: absolute;
	left: 285px;
	top: 130px;
}

#project_services_container ul{
	margin: 0;
	padding: 0;
	list-style: none;
	display: none;
}

#project_services_container ul li{
	margin-bottom: 5px;
}

#project_services_container ul li:last-child{
	margin-bottom: 20px !important;
}

.project_slides{
	background-size:cover; 
	display:inline-block;
	background-position: center center;
}

.project_slides.portrait{
	background-size:auto 100%;	
}

.project_services_list{
	position: relative;
	z-index: 1001;
}

#map{
	width: 100%;
	height: 100%;
}

.project_map_back{
	display: none;
	z-index: 1100;
	position: absolute;
	right: 20px;
	top: 20px;
	width: 42px;
	height: 41px;
	background-image: url('../img/close_map.png');
}

.project_map_back:hover{
	background-color: transparent;
}

.arrow{
	width: 34px;
	height: 34px;
	position: absolute;
	background-image: url('../img/arrow2.png');
	z-index: 601;
	background-size: 34px 34px;
	cursor: pointer;
}

.arrow.left{
	top: 0;
	bottom: 0;
	left: 10px;
	margin: auto;
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.arrow.right{
	top: 0;
	bottom: 0;
	right: 10px;
	margin: auto;
}

.arrow.down{
	left: 0;
	bottom: 10px;
	right: 0;
	margin: auto;

	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

#navigation_guide{
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 2000;
	width: 300px;
	line-height: 1;
	font-size: 0;
}

#navigation_guide div{
	display: inline-block;
	vertical-align: middle;
}

#navigation_guide .dotted_v{
	width: 3px;
	background: url('../img/dotted_v.png') repeat-y;
	background-position: center top;
	background-size: auto 10px;
	height: 100px;
}

#navigation_guide .arrows{
	width: 100px;
}

#navigation_guide .arrows span{
	width: 28px;
	height: 28px;
	background: url('../img/arrow2.png');
	background-size: 28px 28px;
	display: inline-block;
	margin: 2px;
	background-repeat: no-repeat;
}

#navigation_guide .arrows .up{
	-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    margin-left: 34px;
    margin-right: 28px;
}

#navigation_guide .arrows .bottom{
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

#navigation_guide .arrows .left{
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#navigation_guide .text{
	width: 192px;
	font-size: 18px;
	padding-left: 5px;
}

.projects_gradient{
	width: 100%;
	height: 100%;
}

.gradient{
	position: absolute;
	width: 100%;
	height: 180px;
	top: 0;
	left: 0;
	background: linear-gradient(to bottom, rgba(0, 0, 0, .7),  rgba(0, 0, 0, 0));
	z-index: 201;
}

/* STORE */

.store_categories{
	font-size: 0;
	width: 100%;
}

.category_bg{
	background-size: cover;
	width: 100%;
	height: 100%;
	position: relative;
}

.category{
	width: 50%;
	display: inline-block;
	position: relative;
}

#store_subcategories{
	font-size: 0;
	width: 100%;
}

.subcategory{
	width: 25%;
	display: inline-block;
	position: relative;
}

#products_container{
	height: 200px;
	width: 100%;
	height: auto;
	background-color: #ffffff;
}

#store_products{
	width: 100%;
	position: relative;
}

#products_slider{
	margin-top: 190px;
	background-color: #ffffff;
}

#product_info{
	line-height: 24px;
	padding-top: 16px;
}


/* Effects */
.overlay-scale {
	visibility: hidden;
	opacity: 0;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
	transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
	z-index: 0;
}

.overlay-scale.open {
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);	
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
	z-index: 1000;
}

.overlay-scale.close {
	visibility: visible;
	opacity: 0;
	-webkit-transform: scale(.9);
	transform: scale(.9);	
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
	z-index: 1000;
}


.up{
  -webkit-transform: scale(1) translate3d(0, -0%, 0);
  -moz-transform: scale(1) translate3d(0, -0%, 0);
  -ms-transform: scale(1) translate3d(0, -0%, 0);
  -o-transform: scale(1) translate3d(0, -0%, 0);
  transform: scale(1) translate3d(0, -0%, 0);
  -webkit-transition: all 450ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 450ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 450ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 450ms cubic-bezier(0.165, 0.84, 0.44, 1);
}


/* MOBILE MENU */

.menu_links{
	background-color: red;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1000;
	background-color: #3A3A3C;
	display: none;
}

.main{
	position: relative;
}

.header_mobile{
	z-index: 500;
	width: 100%;
	height: 50px;
	position: relative;
}

.logo_mobile{
	height: 30px;
	position: absolute;
	top:18px;
	left:20px;
}

.menu_mobile{
	background-image: url('../img/menu_icon.png');
	background-repeat: no-repeat;
	background-position: left center; 
	width: 41px;
	height: 42px;
	background-size: auto 41px;
	position: absolute;
	top:20px;
	right:20px;
}

.menu_links_close{
	z-index: 1100;
	position: absolute;
	right: 20px;
	top: 20px;
	width: 42px;
	height: 41px;
	background-image: url('../img/close_map.png');
}

.menu_links ul{
	list-style: none;
	padding: 0;
	margin: 30px 0px 40px 15px;
	line-height: 1.5;
}

.menu_links p{
	margin: 0;
	margin-left: 15px;
	width: 92%;
	line-height: 1.5;
}

.header_mobile_projects,.title_mobile{display: none;}

@media screen and (max-width: 900px) {
	header, footer, .fullscreen{
		display: none;
	}

	.footer_mobile{
		display: block;
		height: auto;
	}

	.footer_section{
		height: auto;
	}

	.header_mobile{
		display: block;
	}

	.column{
		display: inline-block;
		width: 100%;
		height: 100%;

	}

	#navigation_guide.home{
		width: 100%;
		text-align: center;
		display: block;
		right: 0px;
	}

	#navigation_guide.services_page{
		width: 100%;
		text-align: right;
		display: block;
	}

	#navigation_guide.services_page .arrows .top{
		-webkit-transform: rotate(270deg);
	    -moz-transform: rotate(270deg);
	    -ms-transform: rotate(270deg);
	    transform: rotate(270deg);
	}

	.title_mobile{
		/*display: block;
		margin: 40px 20px 20px 20px;
		width: 92%;
		padding: 20px 0px; */
		  display: block;
		  margin: -10px 20px 20px 20px;
		  width: 75%;
		  padding: 0px 0px;
	}

	.work,.services,.about,.shop{
		height: 25%;
		width: 100%;
		display: block;
		position: relative;
	}
 
	.letters_mobile{
		display: block;
		position: relative;
		left: 0;
		top: 0;
		background-color: #BDBEC0;
		z-index: 400;
	}

	.letters_mobile{
		width: 100%;
	}

	.letter_links{
		width: 100%;
		margin: 0 auto;
		margin-top: 60px;
		font-size: 30px;
	}

	.column_left,.column_center{
		display: none;
	}

	.service_text{
		margin-left: 15px;
		width: 92%;
	}

	.services_list{
		margin-top: 60px;
	}

	.about.services_list{
		margin-top: 70px;
	}

	.about_shop_content p{
		width: 92%;
	}

	.about_shop_content, .about_team{
		margin-left: 15px;
	}

	#navigation_guide{
		display: none;
	}

	.header_mobile_projects{
		display: block;
		width: 100%;
		height: auto; 
		position: fixed;
		top: 0;
		left: 0;
		z-index: 500;
	}

	#project_services_close{
		display: none;
	}

	.services_close_mobile{
		z-index: 1100;
		position: absolute;
		right: 20px;
		top: 20px;
		width: 42px;
		height: 41px;
		background-image: url('../img/close_map.png');		
	}

	#project_services_container{
		left: 20px;
	}

	.about_slides_container{
		margin-top:10px
	}
}
