<div id="navigation_guide" class="home">
	<div class="arrows">
		<span class="bottom"></span> 
	</div>
</div>

<div id="main">
	<div class="header_mobile" style="float:left">
		<div class="logo_mobile">HEWN</div>
		<div class="menu_mobile"></div>
	</div>
	<div class="title_mobile" style="float:left;position:relative;z-index:500">
		Mastercraft + <br>
		Joinery + Fabrication
	</div>
	<section class="section front"> 
		<header>
		    <div class="column column_left">
		    	<div class="logo black uppercase"><a href="home" id="btn_home">HEWN</a></div>
				<div class="dotted">
				    <nav class="content_dotted">
				        <a href="services" id="btn_services" class="bold uppercase">Services</a>
				        <a href="projects" id="btn_projects" class="bold uppercase">Projects</a><br/>
				        <a href="about" id="btn_about" class="bold uppercase">About</a>
				        <a href="store" id="btn_store" class="bold uppercase">Store</a>
				    </nav>
				    <div class="address">
				        <span>+1 512_386_6404</span>
				        <a href="mailto:info@hewnaustin.com">info@hewnaustin.com</a>
				    </div>
				</div>
		    </div>
		    <div class="column column_center"></div>
		    <div class="column column_right">
		        
		        <div class="dotted">
		        	<div class="content_dotted">
						Mastercraft + <br/>
						Joinery + Fabrication
					</div>
					<div class="map"><a target="_blank" href="https://www.google.com/maps?es_sm=119&bav=on.2,or.r_cp.r_qf.&um=1&ie=UTF-8&q=vintage+material+supply&fb=1&gl=us&hq=vintage+material+supply&cid=4133394191606606867&sa=X&ei=Up5aVKmkCMH8yQSPy4GwAg&ved=0CCcQrwswAA">730 Shady Lane Austin TX 78702</a></div>
		        </div>

		    </div>
		</header> 
		<div class="main_image"></div>
	</section>
	<section class="section front_sub">
		<div class="front_links work" style="background-image:url({{work.url}})">
			<div class="front_link">
				<a href="projects" id="link_projects" class="bold uppercase">
					View<br>
					Our<br>
					Work
				</a>
			</div>
			<div class="green"></div>
			
		</div>
		<div class="front_links services" style="background-image:url({{services.url}})">
			<div class="front_link">
				<a href="services" id="link_services" class="bold uppercase">
					Read<br>
					Our<br>
					Services
				</a>
			</div>
			<div class="green"></div>
			
		</div>
		<div class="front_links about" style="background-image:url({{about.url}})">
			<div class="front_link">
				<a href="about" id="link_about" class="bold uppercase">
					Learn<br>
					About Us
				</a>
			</div>
			<div class="green"></div>
			
		</div>
		<div class="front_links shop" style="background-image:url({{shop.url}})">
			<div class="front_link">
				<a href="store" id="link_shop" class="bold uppercase">
					Shop<br>
					Our<br>
					Products
				</a>
			</div>
			<div class="green"></div>
			
		</div>
	</section>
	<section class="section footer_section" style="background-color:#3a3a3c">
		
		<footer class="footer_mobile">
			<div class="column column_right">
		        <div class="dotted">
		        	<div class="content_dotted">
						730_Shady Lane<br/>
							Austin_TX_78702
					</div>
		        </div>
		    </div>
		    <div class="column column_right">
		        <div class="dotted">
		        	<div class="content_dotted">
						<span>+1 512_386_6404</span>
		            	<a href="mailto:info@hewnaustin.com">info@hewnaustin.com</a>
					</div>
		        </div>
		    </div>
		    <div class="column column_right">
		        <div class="dotted">
		        	<div class="content_dotted">
						Follow us on <a href="#">Twitter</a> <br/>
						Like us on <a href="#">Facebook</a>  
					</div>
		        </div>
		    </div>
		</footer>

		<footer>
		    <div class="footer_container">
		    	<div class="column column_left">
		       		<div class="logo black uppercase"><a href="#"><span class="medium">&copy; 2015</span> HEWN</a></div>
			        <div class="dotted">
			            <div class="content_dotted">
							730_Shady Lane<br/>
							Austin_TX_78702
						</div>
			        </div>
			    </div>
			    <div class="column column_center"></div>
			    <div class="column column_right">
			        
			        <div class="dotted">
			        	<div class="content_dotted">
							<span>+1 512_386_6404</span>
		            		<a href="mailto:info@hewnaustin.com">info@hewnaustin.com</a>
						</div>
			        </div>
			    </div>
			    <div class="column column_center"></div>
			    <div class="column column_right">
			        
			        <div class="dotted">
			        	<div class="content_dotted">
							Follow us on <a href="#">Twitter</a> <br/>
							Like us on <a href="#">Facebook</a>  
						</div>
			        </div>
			    </div>
			</div>
		</footer>  
	</section>
	
</div>